@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    background-image: url('assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    body {
        background-size: 850px 850px; /* adjust until it looks right on mobile */
    }
}