@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    background-color: #FFF7C4;
}