@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    background-color: #fff7c2; /* color of one check */
    background-image:
        repeating-conic-gradient(#d8c4aa 0% 25%, transparent 0% 50%);
    background-size: 160px 160px; /* controls the check size */
    min-height: 100vh;
    min-height: 100dvh;
}

@media (max-width: 768px) {
    body {
        background-size: 80px 80px; /* smaller checks on mobile */
    }
}